<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6MTNMfrshtEB9gr-5NCYIUVJLz5AjxM0</string>
	<key>GCM_SENDER_ID</key>
	<string>192359127143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.tuhh.quizi.Quizi</string>
	<key>PROJECT_ID</key>
	<string>quizi-tuhh</string>
	<key>STORAGE_BUCKET</key>
	<string>quizi-tuhh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>NSApplicationCrashOnExceptions</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:192359127143:ios:40f46ea489776be7c0dcc2</string>
</dict>
</plist>
